{% extends 'layout.html' %}

{% block extra_styles %}
<link href="{{ static_url('global/plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ static_url('global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('global/plugins/bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .nav.nav-tabs {
        margin-bottom: 0px;
    }
</style>
{% end %}

{% block page_header %}
    {% module Header("博文分类", "") %}
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-delicious"></i>博文分类
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable tabs-right">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a id="tab_class_nav" href="#tab_class" data-toggle="tab"><b>博文大类</b></a>
                        </li>
                        <li>
                            <a id="tab_subclass_nav" href="#tab_subclass" data-toggle="tab"><b>博文小类</b></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_class">
                            <div class="portlet box green-haze">
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <button id="add_class_btn" class="btn green">
                                                    添加大类 <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover" id="blog_class_table">
                                        <thead>
                                            <tr>
                                                <th>大类名称</th>
                                                <th>所含小类</th>
                                                <th>分类简介</th>
                                                <th>排序</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_subclass">
                            <div class="portlet box green-haze">
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <button id="add_subclass_btn" class="btn green">
                                                    添加小类 <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover" id="blog_subclass_table">
                                        <thead>
                                            <tr>
                                                <th>小类名称</th>
                                                <th>分类简介</th>
                                                <th>所属大类</th>
                                                <th>属性</th>
                                                <th>博文数量</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add-class-dialog" class="modal fade" tabindex="-1" data-width="500">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">添加大类</h4>
    </div>
    <div class="modal-body">
        <form id="add-class-form" role="form">
            {% raw xsrf_form_html() %}
            <div class="form-group">
                <label>大类名称</label>
                <input name="name" type="text" class="form-control" placeholder="请输入大类名称...">
            </div>
            <div class="form-group">
                <label>分类简介</label>
                <textarea name="description" class="form-control" rows="3"  style="resize:none" placeholder="请输入分类简介..."></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
        <button id="confirm-add-class" type="button" class="btn green-haze">确认</button>
    </div>
</div>

<div id="add-subclass-dialog" class="modal fade" tabindex="-1" data-width="500">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">添加小类</h4>
    </div>
    <div class="modal-body">
        <form id="add-subclass-form" role="form">
            {% raw xsrf_form_html() %}
            <div class="form-group">
                <label>小类名称</label>
                <input id="add_subclass_name_input" name="name" type="text" class="form-control" placeholder="请输入小类名称...">
            </div>
            <div class="form-group">
                <label>所属大类</label>
                <input id="add_subclass_class_select" name="class" class="form-control select2" placeholder="请选择所属大类...">
            </div>
     
            <div class="form-group">
                <label>小类属性</label>
                <div class="md-radio-inline">
                    <div class="md-radio">
                        <input type="radio" id="add_subclass_protected_radio1" name="protected" value="False" class="md-radiobtn" checked>
                        <label for="add_subclass_protected_radio1">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        公开 </label>
                    </div>
                    <div class="md-radio">
                        <input type="radio" id="add_subclass_protected_radio2" name="protected" value="True" class="md-radiobtn">
                        <label for="add_subclass_protected_radio2">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        隐藏 </label>
                    </div>
                </div>
            </div>
     
            <div class="form-group">
                <label>分类简介</label>
                <textarea id="add_subclass_desc_input" name="description" class="form-control" rows="3"  style="resize:none" placeholder="请输入分类简介..."></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
        <button id="confirm-add-subclass" type="button" class="btn green-haze">确认</button>
    </div>
</div>

<div id="delete-class-dialog" class="modal fade" tabindex="-1" data-width="500">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">删除大类</h4>
    </div>
    <div id="delete-class-dialog-prompt" class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
        <button id="confirm-delete-class" type="button" class="btn btn-danger">确认</button>
    </div>
</div>

<div id="delete-subclass-dialog" class="modal fade" tabindex="-1" data-width="500">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">删除小类</h4>
    </div>
    <div id="delete-subclass-dialog-prompt" class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
        <button id="confirm-delete-subclass" type="button" class="btn btn-danger">确认</button>
    </div>
</div>
{% end %}

{% block extra_scripts %}
<script src="{{ static_url('global/plugins/bootstrap-select/bootstrap-select.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('global/plugins/select2/select2.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('blog/i18n/select2.zh-CN.js') }}" type="text/javascript"></script>
<script src="{{ static_url('global/plugins/datatables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ static_url('global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}" type="text/javascript"></script>
<script src="{{ static_url('global/plugins/bootstrap-modal/js/bootstrap-modal.js') }}" type="text/javascript"></script>
<script src="{{ static_url('global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('blog/scripts/blog-class.js') }}" type="text/javascript"></script>
{% end %}