{% extends '../base.html' %}

{% block extra_styles %}
<link  href="{{ static_url('global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css') }}" rel="stylesheet" type="text/css">
{% end %}

{% block page_header %}
    {% module Template("ui_modules/page_header.html", page_title="发表博文", page_title_second="") %}
{% end %}

{% block navbar %}
    {% module Template("ui_modules/admin_navbar.html") %}
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXTRAS PORTLET-->
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>博文Markdown编辑器
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">Default Markdown</label>
                            <div class="col-md-10">
                                <textarea name="content" data-provide="markdown" rows="50"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block extra_scripts %}
<script src="{{ static_url('global/plugins/bootstrap-markdown/lib/markdown.js') }}" type="text/javascript"></script>
<script src="{{ static_url('global/plugins/bootstrap-markdown/js/bootstrap-markdown.js') }}" type="text/javascript"></script>
{% end %}