<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->

    <head>
        <title>
        {% block title %}
        {% end %}
        </title>

        {% block metas %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        {% end %}
        
    {% block styles %}
        {% block global_styles %}
        <link href="{{ static_url('global/plugins/pace/themes/pace-theme-flash.css') }}" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
        <link href="{{ static_url('global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ static_url('global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ static_url('global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ static_url('global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ static_url('global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ static_url('global/plugins/bootstrap-toastr/toastr.min.css') }}" rel="stylesheet" type="text/css"/>
        {% end %}
        
        {% block theme_styles %}
        <link href="{{ static_url('global/css/components-rounded.css') }}" id="style_components" rel="stylesheet" type="text/css"/>
        <link href="{{ static_url('global/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ static_url('admin/css/layout.css') }}" rel="stylesheet" type="text/css"/>
        <link id="style_color" href="{{ static_url('admin/css/themes/light.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ static_url('admin/css/custom.css') }}" rel="stylesheet" type="text/css"/>
        {% end %}
        
        {% block extra_styles %}
        <!-- inline styles related to this page -->
        {% end %}
    {% end %}

        {% block favicon %}
        <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}"/>
        {% end %}
    </head>

    {% block body %}
    <!--HTML BODY-->
    {% end %}
</html>